* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  background-color: #313338;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
}

.sidebar {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: rgb(175, 175, 175);
  height: 100%;
  padding-top: 50px;
}

#sidebar-l {
  float: left;
}

#sidebar-r {
  float: right;
}

.show {
  border: 2px solid black;
}

.column-gap {
  width: 3%;
}

.row-gap {
  height: 6%;
}

#periodic_table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
  width: 90%;
  height: 35%;
}

.circle {
  border: 1px solid black;
  border-radius: 65%;
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
}

#toggle-l {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}

#toggle-r {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

button {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

#canvas {
  margin: 5px;
}

.collapsed {
  display: none;
}
