* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #313338;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  height: 100vh;
}

#periodic_table {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: rgb(175, 175, 175);
  flex: 0 0 35%;
  padding-top: 50px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#periodic_table > div {
  margin-bottom: 3%;
}

#periodic_table > div > div {
  width: 5.5%;
  display: inline-block;
  margin-right: -7px;
}

#periodic_table > div > div > div {
  border: 3px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  /* background: red; */
  margin-top: -3px;
  padding: 20% 0;
}

canvas {
  flex: 0 0 65%;
}
